<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buper</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
        </script>
    <% } %>
    <!--<script src="./renderer/assets/lib/jquery-3.3.1.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <!--<script src="renderer/assets/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="renderer/assets/lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="renderer/assets/lib/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>-->
    <!--<link href="https://cdn.bootcss.com/font-awesome/5.7.2/css/fontawesome.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="../static/lib/buttons.css">-->
    <!--<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
